.cover__subtitle {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 320px;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.143;
  }
}