.lead__subtitle {
  box-sizing: border-box;
  margin: 0 0 64px;
  padding: 0;
  width: 100%;
  max-width: 620px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    padding: 0 24px;
    max-width: calc(620px + (24px * 2));
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    margin: 0 0 40px;
    padding: 0 16px;
    max-width: calc(288px + (16px * 2));
    font-size: 16px;
    line-height: 1.25;
  }
}