.footer__item {
  margin: 0;
  padding: 0;
}

.footer__item + .footer__item {
  padding-left: 18px;
}

@media screen and (max-width: 425px) {
  .footer__item + .footer__item {
    padding-left: 0;
    padding-top: 32px;
  }
}