.cover__title {
  margin: 0;
  padding: 0 0 32px;
  text-align: center;
  font-size: 72px;
  line-height: 1.056;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.093;
    padding: 0 0 16px;
  }
}