.lead__figure {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__figure {
    max-width: 100%;
  }
}