.container {
  margin: 0;
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 16px;
  }
}