.footer {
  margin: 0;
  padding: 0 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 16px 24px;
    flex-direction: column;
  }
}