.place__url-heading {
  margin: 0 0 12px;
  padding: 0;
  color: #aaa;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: .2em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}